:root {
  --bg-color: #f7f7f7;
  --text-color: #000;
  --input-bg: #fff;
  --border-color: #ccc;
}

body.dark {
  --bg-color: #1e1e1e;
  --text-color: #f0e7e7;
  --input-bg: #2a2a2a;
  --border-color: #444;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 20px auto 0px
  padding: 20px;
  transition: background 0.3s, color 0.3s;
  ;
  
}



h1 { 
  margin-bottom: 24px;
   text-align: center;

  
}



label {
 margin-top: 8px;
    margin-bottom: 5px;
    color: #333;
    width: 200px;
    text-align: left;
    margin-right: 140px;
    display: inline-block;
    color: var(--text-color);

  
}



input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
   
  
}

textarea {
  resize: vertical;
}





#output, #statusMessage {
  margin-top: 20px;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
  width: 70%;
}



.form-row label {
  width: 200px; /* fixed width to align all labels */
  font-weight: bold;
  margin-left: 100px;
}

.form-row input[type="text"],
.form-row textarea {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  background: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

#output {
    margin-top: 20px;
    padding: 15px;   
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    width: 60%;
    margin: 20px auto 0px;
}


button {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;   
    
}

button:hover {
    background-color: #45a049;
}

#clearFieldsBtn {
    padding: 10px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    justify-content: center;
}

#clearFieldsBtn:hover {
    background-color: #c43227;
}

#copyToClipboardBtn {
    padding: 10px;
   
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    justify-content: center;
}

#copyToClipboardBtn:hover {
    background-color: #1a7bca;
}
